.EmailList {
  flex: 1;
  overflow: scroll;
}

.EmailList__settings {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
  z-index: 99;
  padding-right: 10px;
}

.EmailList__sections {
  position: sticky;
  top: 0;
  display: flex;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
  z-index: 99;
}

.EmailList__List {
  padding-bottom: 20%;
}

.EmailList::-webkit-scrollbar {
  display: none;
}

.EmailList {
  -ms-overflow-style: none;
  scrollbar-width: none;
}