.EmailRow {
  display: flex;
  align-items: center;
  height: auto;
  border-bottom: 1px solid whitesmoke;
  cursor: pointer;
  z-index: 99;
}

.EmailRow:hover {
  border-top: 1px solid whitesmoke;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.24);
}

.EmailRow__options {
  display: flex;
}

.EmailRow__message {
  display: flex;
  flex: 0.8;
  align-items: center;
  font-size: 13px;
}

.EmailRow__message>h4 {
  width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px;
  padding-right: 5px;
}

.EmailRow__title {
  font-size: 13px;
  flex: 0.3;
}

.EmailRow__time {
  padding-right: 15px;
  font-size: 9px;
  font-weight: bold;
}

.EmailRow__description {
  font-weight: 400;
  color: grey;
}