.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;
}

.Header__left {
  display: flex;
  align-items: center;
}

.Header__left>img {
  object-fit: contain;
  height: 40px;
  margin-left: 5px;
}

.Header__middle {
  display: flex;
  flex: 0.7;
  align-items: center;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 5px;
}

.Header__middle>input {
  border: none;
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: medium;
  background-color: transparent;
}

.Header__right {
  display: flex;
  padding-right: 20px;
}

/* in App.css have one style of Header svg */