.Mail {
  flex: 1;
  background-color: whitesmoke;
}

.Mail__tools {
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.Mail__toolsLeft {
  display: flex;
}

.Mail__body {
  display: flex;
  flex-direction: column;
  margin: 30px;
  background-color: white;
  padding: 20px;
  height: 100vh;
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.24);
}

.Mail__bodyHeader {
  display: flex;
  align-items: center;
  border-bottom: 1px solid whitesmoke;
  padding: 20px;
  position: relative;
}

.Mail__impotant {
  color: #e8ab02 !important;
}

.Mail__bodyHeader>h2 {
  font-weight: 400;
  margin-right: 20px;
}

.Mail__bodyHeader>p {
  margin-left: 20px;
}

.Mail__message>p {
  padding: 10px;
  margin-right: 20px;
  overflow-wrap: break-word;
}

.Mail__time {
  position: absolute;
  top: 24px;
  right: 0;
  font-size: 12px;
  color: gray;
}