.Section {
  display: flex;
  align-items: center;
  border-bottom-width: 2px;
  padding: 15px;
  min-width: 200px;
  cursor: pointer;
  color: grey;
  border-width: 0 !important;
}

.Section>h4 {
  font-size: 14px;
  margin-left: 15px;
}

.Section:hover {
  background-color: whitesmoke;
  border-width: 3px !important;
}

.section__selected {
  background-color: whitesmoke;
  border-width: 3px !important;
}