.SideBarOption {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  color: #818181;
}

.SideBarOption>h3 {
  flex: 1;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 400;
}

.SideBarOption>p {
  display: none;
  font-weight: 300;
}

.SideBarOption:hover>p {
  display: inline;
}

.SideBarOption:hover,
.SideBarOption:hover>p,
.SideBarOption:hover>h3 {
  background-color: #fcecec;
  color: #c04b37;
  font-weight: 800 !important;
}

.SideBarOption__active>p {
  display: inline !important;
}